<div id="<%= dom_id lease_snapshot %>">
  <p>
    <strong>Land:</strong>
    <%= lease_snapshot.land_id %>
  </p>

  <p>
    <strong>Farmer:</strong>
    <%= lease_snapshot.farmer_id %>
  </p>

  <p>
    <strong>Financial year:</strong>
    <%= lease_snapshot.financial_year %>
  </p>

  <p>
    <strong>Investment amount:</strong>
    <%= lease_snapshot.investment_amount %>
  </p>

  <p>
    <strong>Expected return:</strong>
    <%= lease_snapshot.expected_return %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= lease_snapshot.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= lease_snapshot.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= lease_snapshot.status %>
  </p>

</div>
