<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lease_snapshot_id, style: "display: block" %>
    <%= form.text_field :lease_snapshot_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :payment_date, style: "display: block" %>
    <%= form.date_field :payment_date %>
  </div>

  <div>
    <%= form.label :mode, style: "display: block" %>
    <%= form.text_field :mode %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
