<div id="<%= dom_id payment %>">
  <p>
    <strong>Lease snapshot:</strong>
    <%= payment.lease_snapshot_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= payment.mode %>
  </p>

</div>
